<!doctype html>
<html>
<head>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="svgtk.js" ></script>
  <style>
.ttl {
  display: inline-block;
  width: 60px;
  text-align: right;
}
.sld {
  width : 200px;
}
  </style>
</head>
<body>

<div id="app">
  <div>
    <button @click="download_clickHandler"> download </button>
  </div>

  <!-- // boards[0] // -->
  <svg :width="boards[0].width" :height="boards[0].height">
    <rect x="0" y="0" :width="boards[0].width" :height="boards[0].height" v-bind="styles.background" />
    <g v-mat4="mat4().translate({x: boards[0].width / 2, y: boards[0].height / 2})" v-tran4>

      <rect :x="-boards[0].bw / 2 - boards[0].bd * 3" :y="-boards[0].bh / 2 - boards[0].bd * 2"
        :width="(+boards[0].bw) + boards[0].bd * 6" :height="(+boards[0].bh) + boards[0].bd * 4"
        fill="none" stroke="#000" stroke-width="0.5" />

      <g v-bind="styles.cz">
        <rect :x="-boards[0].bw / 2" :y="-boards[0].bh / 2"
          :width="boards[0].bw" :height="boards[0].bh" />
      </g>
      <g v-bind="styles.cy">
        <rect :x="-boards[0].bw / 2" :y="-boards[0].bh / 2 - boards[0].bd"
          :width="boards[0].bw" :height="boards[0].bd" />
        <rect :x="-boards[0].bw / 2" :y="-boards[0].bh / 2 - boards[0].bd * 2"
          :width="boards[0].bw" :height="boards[0].bd" />
        <rect :x="-boards[0].bw / 2" :y="boards[0].bh / 2"
          :width="boards[0].bw" :height="boards[0].bd" />
        <rect :x="-boards[0].bw / 2" :y="boards[0].bh / 2 + (+boards[0].bd)"
          :width="boards[0].bw" :height="boards[0].bd" />
      </g>
      <g v-bind="styles.cx">
        <rect :x="-boards[0].bw / 2 - boards[0].bd" :y="-boards[0].bh / 2"
          :width="boards[0].bd" :height="boards[0].bh" />
        <rect :x="-boards[0].bw / 2 - boards[0].bd * 2" :y="-boards[0].bh / 2"
          :width="boards[0].bd" :height="boards[0].bh" />
        <rect :x="boards[0].bw / 2" :y="-boards[0].bh / 2"
          :width="boards[0].bd" :height="boards[0].bh" />
        <rect :x="boards[0].bw / 2 + (+boards[0].bd)" :y="-boards[0].bh / 2"
          :width="boards[0].bd" :height="boards[0].bh" />
      </g>

      <g v-bind="styles.draft">
        <rect :x="-boards[0].bw / 2" :y="-boards[0].bh / 2"
          :width="boards[0].bw" :height="boards[0].bh" />
        <rect :x="-boards[0].bw / 2" :y="-boards[0].bh / 2 - boards[0].bd"
          :width="boards[0].bw" :height="boards[0].bd" />
        <rect :x="-boards[0].bw / 2" :y="-boards[0].bh / 2 - boards[0].bd * 2"
          :width="boards[0].bw" :height="boards[0].bd" />
        <rect :x="-boards[0].bw / 2" :y="boards[0].bh / 2"
          :width="boards[0].bw" :height="boards[0].bd" />
        <rect :x="-boards[0].bw / 2" :y="boards[0].bh / 2 + (+boards[0].bd)"
          :width="boards[0].bw" :height="boards[0].bd" />
        <rect :x="-boards[0].bw / 2 - boards[0].bd" :y="-boards[0].bh / 2"
          :width="boards[0].bd" :height="boards[0].bh" />
        <rect :x="-boards[0].bw / 2 - boards[0].bd * 2" :y="-boards[0].bh / 2"
          :width="boards[0].bd" :height="boards[0].bh" />
        <rect :x="boards[0].bw / 2" :y="-boards[0].bh / 2"
          :width="boards[0].bd" :height="boards[0].bh" />
        <rect :x="boards[0].bw / 2 + (+boards[0].bd)" :y="-boards[0].bh / 2"
          :width="boards[0].bd" :height="boards[0].bh" />
      </g>

      <g v-bind="styles.valley">
          <path :d="`M${-boards[0].bw / 2} ${-boards[0].bh / 2}
                     L${boards[0].bw / 2} ${-boards[0].bh / 2}`" />
          <path :d="`M${-boards[0].bw / 2} ${boards[0].bh / 2}
                     L${boards[0].bw / 2} ${boards[0].bh / 2}`" />
          <path :d="`M${-boards[0].bw / 2} ${-boards[0].bh / 2 - boards[0].bd}
                     L${-boards[0].bw / 2} ${boards[0].bh / 2 + (+boards[0].bd)}`" />
          <path :d="`M${boards[0].bw / 2} ${-boards[0].bh / 2 - boards[0].bd}
                     L${boards[0].bw / 2} ${boards[0].bh / 2 + (+boards[0].bd)}`" />

          <path :d="`M${-boards[0].bw / 2 - boards[0].bd} ${-boards[0].bh / 2}
                     L${-boards[0].bw / 2 - boards[0].bd} ${-boards[0].bh / 2 - boards[0].bd}`" />
          <path :d="`M${boards[0].bw / 2 + (+boards[0].bd)} ${-boards[0].bh / 2}
                     L${boards[0].bw / 2 + (+boards[0].bd)} ${-boards[0].bh / 2 - boards[0].bd}`" />
          <path :d="`M${-boards[0].bw / 2 - boards[0].bd} ${boards[0].bh / 2}
                     L${-boards[0].bw / 2 - boards[0].bd} ${boards[0].bh / 2 + (+boards[0].bd)}`" />
          <path :d="`M${boards[0].bw / 2 + (+boards[0].bd)} ${boards[0].bh / 2}
                     L${boards[0].bw / 2 + (+boards[0].bd)} ${boards[0].bh / 2 + (+boards[0].bd)}`" />

          <path :d="`M${-boards[0].bw / 2 - boards[0].bd * 2} ${-boards[0].bh / 2}
                     L${-boards[0].bw / 2 - boards[0].bd * 2} ${-boards[0].bh / 2 - boards[0].bd}`" />
          <path :d="`M${boards[0].bw / 2 + boards[0].bd * 2} ${-boards[0].bh / 2}
                     L${boards[0].bw / 2 + boards[0].bd * 2} ${-boards[0].bh / 2 - boards[0].bd}`" />
          <path :d="`M${-boards[0].bw / 2 - boards[0].bd * 2} ${boards[0].bh / 2}
                     L${-boards[0].bw / 2 - boards[0].bd * 2} ${boards[0].bh / 2 + (+boards[0].bd)}`" />
          <path :d="`M${boards[0].bw / 2 + boards[0].bd * 2} ${boards[0].bh / 2}
                     L${boards[0].bw / 2 + boards[0].bd * 2} ${boards[0].bh / 2 + (+boards[0].bd)}`" />

          <path :d="`M${-boards[0].bw / 2 - boards[0].bd} ${-boards[0].bh / 2 - boards[0].bd}
                     L${-boards[0].bw / 2} ${-boards[0].bh / 2}`" />
          <path :d="`M${boards[0].bw / 2 + (+boards[0].bd)} ${-boards[0].bh / 2 - boards[0].bd}
                     L${boards[0].bw / 2} ${-boards[0].bh / 2}`" />
          <path :d="`M${-boards[0].bw / 2 - boards[0].bd} ${boards[0].bh / 2 + (+boards[0].bd)}
                     L${-boards[0].bw / 2} ${boards[0].bh / 2}`" />
          <path :d="`M${boards[0].bw / 2 + (+boards[0].bd)} ${boards[0].bh / 2 + (+boards[0].bd)}
                     L${boards[0].bw / 2} ${boards[0].bh / 2}`" />
      </g>

      <g v-bind="styles.mountain">
          <path :d="`M${-boards[0].bw / 2 - boards[0].bd * 3} ${-boards[0].bh / 2 - boards[0].bd}
                     L${boards[0].bw / 2 + boards[0].bd * 3} ${-boards[0].bh / 2 - boards[0].bd}`" />
          <path :d="`M${-boards[0].bw / 2 - boards[0].bd * 3} ${boards[0].bh / 2 + (+boards[0].bd)}
                     L${boards[0].bw / 2 + boards[0].bd * 3} ${boards[0].bh / 2 + (+boards[0].bd)}`" />

          <path :d="`M${-boards[0].bw / 2} ${-boards[0].bh / 2}
                     L${-boards[0].bw / 2 - boards[0].bd * 3} ${-boards[0].bh / 2}`" />
          <path :d="`M${-boards[0].bw / 2} ${boards[0].bh / 2}
                     L${-boards[0].bw / 2 - boards[0].bd * 3} ${boards[0].bh / 2}`" />

          <path :d="`M${boards[0].bw / 2} ${-boards[0].bh / 2}
                     L${boards[0].bw / 2 + boards[0].bd * 3} ${-boards[0].bh / 2}`" />
          <path :d="`M${boards[0].bw / 2} ${boards[0].bh / 2}
                     L${boards[0].bw / 2 + boards[0].bd * 3} ${boards[0].bh / 2}`" />

          <path :d="`M${-boards[0].bw / 2 - boards[0].bd} ${-boards[0].bh / 2}
                     L${-boards[0].bw / 2 - boards[0].bd} ${boards[0].bh / 2}`" />
          <path :d="`M${boards[0].bw / 2 + (+boards[0].bd)} ${-boards[0].bh / 2}
                     L${boards[0].bw / 2 + (+boards[0].bd)} ${boards[0].bh / 2}`" />
          <path :d="`M${-boards[0].bw / 2 - boards[0].bd * 2} ${-boards[0].bh / 2}
                     L${-boards[0].bw / 2 - boards[0].bd * 2} ${boards[0].bh / 2}`" />
          <path :d="`M${boards[0].bw / 2 + boards[0].bd * 2} ${-boards[0].bh / 2}
                     L${boards[0].bw / 2 + boards[0].bd * 2} ${boards[0].bh / 2}`" />

          <path :d="`M${-boards[0].bw / 2} ${-boards[0].bh / 2 - boards[0].bd}
                     L${-boards[0].bw / 2} ${-boards[0].bh / 2 - boards[0].bd * 2}`" />
          <path :d="`M${boards[0].bw / 2} ${-boards[0].bh / 2 - boards[0].bd}
                     L${boards[0].bw / 2} ${-boards[0].bh / 2 - boards[0].bd * 2}`" />
          <path :d="`M${-boards[0].bw / 2} ${boards[0].bh / 2 + (+boards[0].bd)}
                     L${-boards[0].bw / 2} ${boards[0].bh / 2 + boards[0].bd * 2}`" />
          <path :d="`M${boards[0].bw / 2} ${boards[0].bh / 2 + (+boards[0].bd)}
                     L${boards[0].bw / 2} ${boards[0].bh / 2 + boards[0].bd * 2}`" />

          <path :d="`M${-boards[0].bw / 2 - boards[0].bd} ${-boards[0].bh / 2 - boards[0].bd}
                     L${-boards[0].bw / 2 - boards[0].bd} ${-boards[0].bh / 2 - boards[0].bd * 2}`" />
          <path :d="`M${boards[0].bw / 2 + (+boards[0].bd)} ${-boards[0].bh / 2 - boards[0].bd}
                     L${boards[0].bw / 2 + (+boards[0].bd)} ${-boards[0].bh / 2 - boards[0].bd * 2}`" />
          <path :d="`M${-boards[0].bw / 2 - boards[0].bd} ${boards[0].bh / 2 + (+boards[0].bd)}
                     L${-boards[0].bw / 2 - boards[0].bd} ${boards[0].bh / 2 + boards[0].bd * 2}`" />
          <path :d="`M${boards[0].bw / 2 + (+boards[0].bd)} ${boards[0].bh / 2 + (+boards[0].bd)}
                     L${boards[0].bw / 2 + (+boards[0].bd)} ${boards[0].bh / 2 + boards[0].bd * 2}`" />

          <path :d="`M${-boards[0].bw / 2 - boards[0].bd * 2} ${-boards[0].bh / 2 - boards[0].bd}
                     L${-boards[0].bw / 2 - boards[0].bd * 2} ${-boards[0].bh / 2 - boards[0].bd * 2}`" />
          <path :d="`M${boards[0].bw / 2 + boards[0].bd * 2} ${-boards[0].bh / 2 - boards[0].bd}
                     L${boards[0].bw / 2 + boards[0].bd * 2} ${-boards[0].bh / 2 - boards[0].bd * 2}`" />
          <path :d="`M${-boards[0].bw / 2 - boards[0].bd * 2} ${boards[0].bh / 2 + (+boards[0].bd)}
                     L${-boards[0].bw / 2 - boards[0].bd * 2} ${boards[0].bh / 2 + boards[0].bd * 2}`" />
          <path :d="`M${boards[0].bw / 2 + boards[0].bd * 2} ${boards[0].bh / 2 + (+boards[0].bd)}
                     L${boards[0].bw / 2 + boards[0].bd * 2} ${boards[0].bh / 2 + boards[0].bd * 2}`" />

          <path :d="`M${-boards[0].bw / 2 - boards[0].bd} ${-boards[0].bh / 2 - boards[0].bd}
                     L${-boards[0].bw / 2} ${-boards[0].bh / 2 - boards[0].bd * 2}`" />
          <path :d="`M${boards[0].bw / 2 + (+boards[0].bd)} ${-boards[0].bh / 2 - boards[0].bd}
                     L${boards[0].bw / 2} ${-boards[0].bh / 2 - boards[0].bd * 2}`" />
          <path :d="`M${-boards[0].bw / 2 - boards[0].bd} ${boards[0].bh / 2 + (+boards[0].bd)}
                     L${-boards[0].bw / 2} ${boards[0].bh / 2 + boards[0].bd * 2}`" />
          <path :d="`M${boards[0].bw / 2 + (+boards[0].bd)} ${boards[0].bh / 2 + (+boards[0].bd)}
                     L${boards[0].bw / 2} ${boards[0].bh / 2 + boards[0].bd * 2}`" />

      </g>

    </g>
  </svg>
  <div>
    <span><label>Paper Size: {{(+boards[0].bw) + boards[0].bd * 6}}
      x
      {{(+boards[0].bh) + boards[0].bd * 4}}
      {{boards[0].unit}}</label></span>
  </div>
  <div>
    <div><label><span class="ttl">Width:</span>
      <input type="range" class="sld"
        min="10" max="500" step="5" v-model="boards[0].bw" />{{boards[0].bw}} {{boards[0].unit}}</label></div>
    <div><label><span class="ttl">Height:</span>
      <input type="range" class="sld"
        min="10" max="500" step="5" v-model="boards[0].bh" />{{boards[0].bh}} {{boards[0].unit}}</label></div>
    <div><label><span class="ttl">Depth:</span>
      <input type="range" class="sld"
        min="10" max="100" step="1" v-model="boards[0].bd" />{{boards[0].bd}} {{boards[0].unit}}</label></div>
  </div>

  <!-- // boards[1] // -->
  <svg :width="boards[1].width" :height="boards[1].height">
    <rect x="0" y="0" :width="boards[1].width" :height="boards[1].height" v-bind="styles.background" />
    <g v-mat4="mat4().translate({x: boards[1].width / 2, y: boards[1].height / 2})">
      <g v-mat4="mat4().rotateY(d2r(boards[1].p) ).rotateX(d2r(boards[1].t) )">
<!--
        <path d="M-100 0L100 0" v-bind="styles.cx" v-tran4 />
        <path d="M-100 0L100 0" v-bind="styles.cy" v-mat4="mat4().rotateY(d2r(90))" v-tran4 />
        <path d="M-100 0L100 0" v-bind="styles.cz" v-mat4="mat4().rotateZ(d2r(90))" v-tran4 />
 -->

        <g v-bind="styles.cx">
          <rect :x="-boards[0].bh / 2" :y="-boards[0].bd / 2" :width="boards[0].bh" :height="boards[0].bd"
            v-mat4="mat4().translateZ(-boards[0].bw / 2).rotateY (d2r(90))" v-tran4 />
          <rect :x="-boards[0].bh / 2" :y="-boards[0].bd / 2" :width="boards[0].bh" :height="boards[0].bd"
            v-mat4="mat4().translateZ(boards[0].bw / 2).rotateY (d2r(90))" v-tran4 />
        </g>

        <g v-bind="styles.cy">
          <rect :x="-boards[0].bw / 2" :y="-boards[0].bd / 2" :width="boards[0].bw" :height="boards[0].bd"
            v-mat4="mat4().translateZ(-boards[0].bh / 2)" v-tran4 />
          <rect :x="-boards[0].bw / 2" :y="-boards[0].bd / 2" :width="boards[0].bw" :height="boards[0].bd"
            v-mat4="mat4().translateZ(boards[0].bh / 2)" v-tran4 />
        </g>

        <g v-bind="styles.cz">
          <rect :x="-boards[0].bw / 2" :y="-boards[0].bh / 2" :width="boards[0].bw" :height="boards[0].bh"
            v-mat4="mat4().translateZ(-boards[0].bd / 2).rotateX(d2r(90))" v-tran4 />
        </g>

        <g v-bind="styles.border">
          <rect :x="-boards[0].bh / 2" :y="-boards[0].bd / 2" :width="boards[0].bh" :height="boards[0].bd"
            v-mat4="mat4().translateZ(-boards[0].bw / 2).rotateY (d2r(90))" v-tran4 />
          <rect :x="-boards[0].bh / 2" :y="-boards[0].bd / 2" :width="boards[0].bh" :height="boards[0].bd"
            v-mat4="mat4().translateZ(boards[0].bw / 2).rotateY (d2r(90))" v-tran4 />
          <rect :x="-boards[0].bw / 2" :y="-boards[0].bd / 2" :width="boards[0].bw" :height="boards[0].bd"
            v-mat4="mat4().translateZ(-boards[0].bh / 2)" v-tran4 />
          <rect :x="-boards[0].bw / 2" :y="-boards[0].bd / 2" :width="boards[0].bw" :height="boards[0].bd"
            v-mat4="mat4().translateZ(boards[0].bh / 2)" v-tran4 />
          <rect :x="-boards[0].bw / 2" :y="-boards[0].bh / 2" :width="boards[0].bw" :height="boards[0].bh"
            v-mat4="mat4().translateZ(-boards[0].bd / 2).rotateX(d2r(90))" v-tran4 />
        </g>

      </g>
    </g>
  </svg>
  <div>
    <div><label><span class="ttl">Pan:</span>
      <input type="range" class="sld"
        min="-90" max="90" step="1" v-model="boards[1].p" />{{boards[1].p}}</label></div>
    <div><label><span class="ttl">Tilt:</span>
      <input type="range" class="sld"
        min="-90" max="90" step="1" v-model="boards[1].t" />{{boards[1].t}}</label></div>
  </div>
</div>

<script>

!function() {

  const mixin = function() {

    const fn = {
      mat4 : function(el, binding, vnode) {
        el.dataset.mat4 = JSON.stringify(binding.value);
      },
      tran4 : function(el, binding, vnode) {
        const app = binding.instance;
        const mat = function(el) {
          var mat = app.mat4();
          while (el) {
            if (el.dataset && el.dataset.mat4) {
              mat = mat.concat(JSON.parse(el.dataset.mat4) );
            }
            el = el.parentNode;
          }
          return mat;
        }(el);
        el.setAttribute('transform', fn.toSvgMatrix(mat) )
      },
      toSvgMatrix : function(mat) {
        return `matrix(${mat[0]} ${mat[1]} ${mat[4]} ${mat[5]} ${mat[12]} ${mat[13]})`;
      }
    };

    return {
      methods : {
        mat4 : svgtk.math.mat4,
        d2r : function(deg) {
          return deg / 180 * Math.PI;
        },
      },
      directives : {
        mat4 : {
          beforeMount : fn.mat4,
          beforeUpdate : fn.mat4,
        },
        tran4 : {
          mounted : fn.tran4,
          updated : fn.tran4,
        }
      }
    };
  }();

  Vue.createApp({
    methods : {
      download_clickHandler : function() {
        var filename = 'test.svg';

        var svg = document.querySelector('svg').cloneNode(true);
        svg.setAttribute('xmlns', svg.namespaceURI);
        var data = svg.outerHTML;

        var blob = new Blob([ data ], { type : 'application/octet-stream' });
        var url = URL.createObjectURL(blob);
        var a = document.createElement('a');
        a.href = url;
        a.download = filename;
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
      }
    },
    mixins : [ mixin ],
    data : function() {
      return {
        styles : {
          mountain : {
            fill : 'none',
            stroke : '#f96',
            'stroke-width': '2',
            'stroke-dasharray' :'1 4 4 4',
          },
          valley : {
            fill : 'none',
            stroke : '#3c3',
            'stroke-width': '2',
            'stroke-dasharray' :'4',
          },
          cx : {
            fill : '#00f',
            stroke : 'none',
            opacity : '0.2',
          },
          cy : {
            fill : '#0f0',
            stroke : 'none',
            opacity : '0.2',
          },
          cz : {
            fill : '#f00',
            stroke : 'none',
            opacity : '0.2',
          },
          border : {
            fill : 'none',
            stroke : '#000',
          },
          draft : {
            fill : 'none',
            stroke : '#ccc',
            'stroke-dasharray' :'2',
          },
          background : {
            fill : '#fefefe',
            stroke : '#666',
          },
        },
        boards : [
          {
            width : 480,
            height : 270,
            bw : 130,
            bh : 90,
            bd : 30,
            unit : 'mm',
          },
          {
            width : 480,
            height : 270,
            p: 30,
            t: 25,
          },
        ]
      }
    },
    computed : {
    },
    mounted: function() {
    }
  }).mount('#app');

}();

</script>
</body>
</html>
