<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <script type="module" src="fb-test.js"></script>
</head>
<body>
  <div id="app">
    <span>val:{{val}}</span>
    <div v-for="item in list">
      <span>{{item.key}}</span>:<span>{{item.val}}</span>
      <input type="text" :value="item.val.txval" @change="valChange($event, item)" />
      <button @click="removeClick(item.key)"> remove </button>
    </div>
    <input type="text" v-model="val" />
    <button @click="appendClick"> append </button>
  </div>
</body>
</html>
